{% extends "app.html" %}
{% block content %}
<div class="container mt-10">
  <div class="card">
    <div class="card-header">
      <h2>Dostępne kategorie</h2>
    </div>
    <div class="card-body">
      {% for category in categories  %}
        <div>
          - {{ category }}
        </div>
      {% endfor %}
    </div>
    <div class="card-footer text-muted">
      Uwaga, najlepsze rezultaty uzyskasz przy obrazie w kwadratowym formacie. Model został wytranowany na obrazach 32X32 z biblioteki cifar100 zawierającej obrazy z stu kategorii <a href=""> kliknij aby zobaczyć listę kategorii </a>. Link do githuba z notebookiem: <a href="https://github.com/antoniSea/Image-recognition-python-ai/blob/main/imagerecognition.ipynb">https://github.com/antoniSea/Image-recognition-python-ai/blob/main/imagerecognition.ipynb</a>
    </div>
  </div>
</div>
{% endblock %}